services:
  php:
  environment:
    #      https://xdebug.org/docs/all_settings#mode
    XDEBUG_MODE: "develop,debug,profile,coverage,trace"
  volumes:
    - ./.local/bash/.bashrc:/home/${USER}/.bashrc
    - ./.local/bash:/home/${USER}/bash
    - ./php/php.override.ini:/usr/local/etc/php/conf.d/php.override.ini